.text-danger {
  color: #e64a19;
}

.text-success {
  color: #5cb85c;
}

.logo-section {
  width: 150px;
  margin: 50px auto 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #999;
}

.logo {
  padding: 6px 15px;
  width: 220px;
  background: #303f9f;
  margin-left: -15px;
  display: inline-flex;
  height: 57px;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
}
.logo img {
  max-width: 100%;
  height: auto;
}
.logo a,
.logo .fa {
  color: #fff;
}
.logo a:hover {
  text-decoration: none;
}

.welcome-header-section {
  padding: 6px 15px;
  display: inline-flex;
  height: 57px;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

html {
  /* height: 100%; 
  background: url(../img/bg.jpg); */
  background: #edf0f5;
}

body {
  /* min-height: 100%; */
  font-family: sans-serif;
  position: relative;
  padding-bottom: 50px;
  padding-top: 80px;
  padding-left: 220px;
  background: none;
  transition: padding-left 0.4s ease;
  font-size: inherit;
}

.container {
  max-width: inherit;
  width: auto;
}

.mini-sidebar {
  padding-left: 20px;
}

.navbar {
  border-radius: 0;
  font-size: 16px;
}

.navbar-header {
  float: none;
}

.navbar {
  background-color: #3f51b5;
  border: 0;
}

.navbar-nav > li > a {
  color: #fff;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
}

.navbar-nav > li > a.link-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .navbar-right {
  float: right;
}

.navbar .navbar-nav {
  margin: 0;
}

.navbar .navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  line-height: 24px;
}

.navbar .navbar-collapse {
  padding: 0;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  width: 220px;
  transition: width 0.1s ease;
  padding-top: 80px;
  z-index: 2;
  overflow: auto;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav .active a,
.sidebar .nav a:hover {
  background: #f5f7f9;
  color: #444;
  font-weight: 600;
}

.sidebar a .fa {
  margin-right: 5px;
}

.sidebar .nav a {
  color: #6a6c6f;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 7px 15px;
  border-radius: 0 20px 20px 0;
}

/* .navbar .container {
    padding: 0;
} */
.navbar-right {
  font-size: 20px;
}

.common-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  font-weight: 600;
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 16px;
}

.btn-submit {
  min-width: 120px;
}

label {
  font-weight: 500;
}

@media (min-width: 768px) {
  .navbar-nav {
    margin-left: -15px;
  }
}
.top-header {
  padding: 20px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 220px;
  transition: left 0.4s ease;
}

.dropdown-wrapper {
  width: 260px;
  position: relative;
}

.dropdown-wrapper .dropdown-menu {
  min-width: 100%;
}

.dropdown-wrapper .list-group {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  z-index: 1;
}

.recipt-search-dropdown a {
  font-size: 12px;
}

.list-group-item {
  padding: 6px 12px;
}

.recipt-search-dropdown h4 {
  font-size: 12px;
  /* font-weight: bold; */
  margin: 0;
}

.recipt-search-dropdown h4 span {
  float: right;
}

.type-ahead-input {
  background: #f7f7ff !important;
}

.form-control {
  background: #f8f9fd;
  border-color: #ddd;
  box-shadow: none;
  transition: none;
  border-radius: 0;
  font-size: 12px;
}

.form-group-lg .form-control {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  transition: none;
  border-color: #999;
}

body {
  color: #222;
  position: relative;
  z-index: 1;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #3f51b5;
  border-color: #303f9f;
  outline: 0;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: #17395a !important;
  border-color: #17395a !important;
}

.product-image div.image {
  height: 150px;
}

.product-image img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 6px 6px 0 0;
}

.feature-products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-product {
  float: left;
  width: 23.5%;
  min-width: 200px;
  margin-bottom: 20px;
  border-radius: 8px;
  position: relative;
  border: 1px solid #d7e0f1;
  background: #fff;
}

.product-content {
  padding: 10px 15px;
}

.product-image img.image {
  max-height: 100%;
  margin: 0 auto;
}

.feature-product .product-image {
  border-bottom: 1px solid #d7e0f1;
  background: #f8f9fd;
  display: block;
  height: 150px;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.feature-product .author,
.feature-product .group,
.feature-product .price,
.feature-product .title {
  display: block;
  margin: 5px 0 0;
  font-weight: 600;
  font-size: 12px;
  color: #111;
}

.feature-product .group {
  color: #999;
}

.feature-product .title {
  font-size: 16px;
}

.feature-product .price,
.feature-product .qty {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.feature-product .price {
  color: #fa381d;
  font-size: 20px;
  bottom: auto;
  top: 10px;
}

.feature-product .price em {
  font-style: normal;
  font-size: 0.6em;
}

.feature-product .btn-wrap {
  position: absolute;
  left: 0;
  bottom: -23px;
  right: 0;
}

.feature-product .btn-priority,
.feature-product .btn-dup,
.feature-product .btn-bookmark,
.feature-product .btn-edit,
.feature-product .btn-cart {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding: 6px;
  line-height: 44px;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.feature-product .btn-priority,
.feature-product .btn-dup,
.feature-product .btn-bookmark {
  bottom: 50px;
  box-shadow: none;
  padding: 0;
  font-size: 20px;
  background: none;
}

.feature-product .btn-priority {
  bottom: auto;
  top: 0;
  right: 40px;
}

.feature-product .btn-dup {
  left: 10px;
  right: auto;
}

.feature-product .btn-edit {
  bottom: auto;
  top: 10px;
  width: 30px;
  height: 30px;
  text-align: right;
  line-height: 20px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-align: center;
  background: none;
  color: #282828;
  box-shadow: inherit;
}
.feature-product .btn-edit img {
  margin-left: auto;
}

.cart-menu {
  min-width: 350px;
}

.cart-list {
  padding-left: 10px;
  padding-right: 10px;
}

.cart-list .cart-list-item {
  border-bottom: 1px solid #eee;
}

.cart-list .cart-list-item a:hover {
  text-decoration: none;
}

.cart-list .cart-list-item a {
  color: #998;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.cart-list .cart-item-title {
  font-weight: bold;
  color: #333;
}

.cart-list .qty {
  font-size: 1.3em;
  min-width: 1.7em;
  display: inline-block;
  text-align: center;
  font-weight: normal;
}

.cart-list .cart-list-image {
  width: 60px;
  height: 60px;
  margin: 5px 10px 5px 0;
}

.cart-list .cart-item-controls {
  display: block;
}

.cart-list .cart-total-row .cart-right {
  font-size: 1.5em;
  padding: 10px 0;
}

.cart-list .cart-total-row {
  color: #666;
  text-align: right;
}

.cart-list .cart-right {
  text-align: right;
}

.table {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.08);
}

th {
  background: #fff;
  height: 40px;
  vertical-align: middle !important;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #282828;
}
th .sort-icon {
  display: none;
}
th.active .sort-icon {
  display: inline-block;
}

.table > tbody > tr:hover {
  background: #f8f9fd;
}

.table > tbody > tr {
  background: #fff;
}

.table > thead > tr > th {
  border-bottom-width: 1px;
  font-weight: 700;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  border-color: #fff;
  height: 44px;
  vertical-align: middle;
  padding: 2px 4px;
}

.recipt-table.table > tbody > tr > td,
.recipt-table.table > tbody > tr > th {
  font-size: inherit;
}

.text-mute {
  color: #666;
}

.empty-cart {
  padding: 15px;
}

.sidebar .toggle-sidebar {
  color: #fff;
}

.toggle-sidebar {
  background: #303f9f;
  display: block;
  width: 50px;
  height: 40px;
  border-radius: 0 40px 40px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.toggle-sidebar img {
  transition: transform 0.4s ease;
}

.thumb-menu-screen .toggle-sidebar img {
  transform: rotate(-180deg);
}

.thumb-menu-screen .footer {
  left: 60px;
}

body.thumb-menu-screen {
  padding-left: 60px;
}

.thumb-menu-screen .sidebar {
  width: 60px;
}

.thumb-menu-screen .nav-menu-text {
  display: none;
}

.sidebar .tooltip {
  display: none;
}

.thumb-menu-screen .sidebar .tooltip {
  display: block;
}

.login-screen {
  padding: 20px 0;
  margin: 0;
}

.login-logo {
  margin: 15px auto;
  display: block;
}

.login-screen-inner {
  background: #f5f7f9;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px 2px rgba(3, 63, 78, 0.1);
}

.login-form {
  padding: 25px 40px 25px 10px;
}

.login-form .btn {
  min-width: 120px;
}

.login-form .form-check-label,
.login-form .form-check-input {
  vertical-align: middle;
  margin: 0;
  margin-right: 5px;
}

.login-logo-left {
  margin: 35px 35px 0;
  display: block;
}

.login-form label {
  font-weight: bold;
}

.login-form h2 {
  font-family: inherit;
  font-weight: 800;
  font-size: 40px;
  margin: 30px 0;
  text-align: center;
}

.divider {
  position: relative;
  text-transform: uppercase;
  font-size: 11px;
  color: #bbb;
  margin: 30px 0;
  text-align: center;
}

.divider:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #dedede;
  position: absolute;
  top: 50%;
  left: 0;
}

.divider span {
  position: relative;
  z-index: 1;
  background: #f9f9ff;
  padding: 0 5px;
  letter-spacing: 2px;
}

.login-left {
  background: #fff;
  padding: 2px;
}

.login-image-left {
  margin: 0 auto;
  margin-bottom: 30px;
}

.author-info {
  padding: 0 30px 15px;
}

.author-info strong {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #e64a19;
}

.author-info span {
  display: block;
  font-size: 12px;
}

.profile-section {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 5px 1px rgba(136, 136, 136, 0.06);
}

.profile-img-section {
  width: 160px;
  margin: 0 auto 20px;
}
.profile-img-section img {
  max-width: 100%;
  height: auto;
}

.dropdown-menu li {
  text-transform: none;
}

.datepicker-parent {
  position: relative;
}

.list-item {
  position: relative;
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 3px 12px;
}

.list-item pre {
  display: inline;
  font-size: 14px;
  padding: 0;
  background: none;
  border: 0;
  color: inherit;
}

.list-item .catName {
  font-weight: bold;
  color: #aaa;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.quantity__minus,
.quantity__plus {
  display: block;
  width: 22px;
  height: 23px;
  margin: 0;
  background: #bcbec8;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
}

.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
}

.quantity__minus {
  border-radius: 3px 0 0 3px;
}

.quantity__plus {
  border-radius: 0 3px 3px 0;
}

.quantity__input {
  width: 60px;
  height: 23px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  border-color: #bcbec8;
  color: #000;
}

.quantity__minus:link,
.quantity__plus:link {
  color: #000;
}

.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}

body.no-padding {
  padding: 20px 0 50px;
  margin: 0;
}

body.no-horizontal-padding {
  padding-inline: 0;
  margin: 0;
}

.fw-bold {
  font-weight: bold;
}

.sale-date {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: bold;
}
.sale-date .btn {
  margin-left: 10px;
}

.hide-temp.ng-hide {
  display: none;
}

.blink {
  animation: 2s linear infinite condemned_blink_effect;
}

.row-raw {
  background-color: rgba(0, 128, 0, 0.25) !important;
}

.row-service {
  background-color: rgba(0, 0, 128, 0.25) !important;
}

.row-expected {
  background-color: rgba(255, 0, 0, 0.25) !important;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ebebeb;
}

.dropdown-wrapper.align-right .dropdown-menu {
  left: auto !important;
  right: 0;
}

.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu .dropdown-submenu-right {
  left: 100%;
  right: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

thead.navbar-fixed-top {
  width: calc(100% - 30px);
  margin: auto;
  display: table;
}

.card-item {
  background: #fff;
}

.card-item-title {
  font-weight: bold;
  padding: 5px 12px;
}

.dropdown-menu li:hover > a {
  background-color: #337ab7 !important;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
